/* Estilos para el cuerpo y el encabezado */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f3e6; /* Color de fondo cálido */
}

header {
    background-color: #f05742; /* Rojo cálido */
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para la sección de películas */
#peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.pelicula {
    border: 1px solid #d9d9d9;
    padding: 10px;
    margin: 10px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pelicula h2 {
    color: #f05742; /* Rojo cálido */
}

.pelicula p {
    color: #888;
}

/* Estilos para el formulario de edición de películas */
#formulario {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#formulario h2 {
    color: #f05742; /* Rojo cálido */
}

#formulario label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#formulario input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #d9d9d9;
}

#formulario button {
    background-color: #f05742; /* Rojo cálido */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}