/* Estilos para el cuerpo y el encabezado */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para la seccion de peliculas */
#peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.pelicula {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    background-color: #fff;
}

/* Estilos para el pie de pagina */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}