* {
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    width: 100%;
    overflow-x: hidden;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
    margin: 0; 
}
.cabecera {
    background-color: #242323;
    color: white;
    z-index: 1;
}

.anchocabecera {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Divide la cabecera en tres partes iguales */
    align-items: center; 
}

.imagen-principal {
    grid-column: 1 / span 1; /* Ocupa la primera columna */
    height: 110px;
    display: flex;
    align-items: center;
}

.logo {
    margin: 10px;
    height: 70px;
}

.buscador {
    grid-column: 2 / span 1; /* Ocupa la segunda columna */
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador select {
    margin-top: 30px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid gray;
    height: 30px;
    padding: 5px;
    cursor: pointer;
}

.buscador input {
    border-radius: 5px;
    background-color: #ffed00;
    line-height: 20px;
    padding: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

.buscador input:hover {
    background-color: rgb(239, 248, 188);
}

.IniciarSesion {
    grid-column: 3 / span 1; /* Ocupa la tercera columna */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.IniciarSesion a {
    line-height: 10px;
    padding: 5px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 10px;
    background-color: whitesmoke;
}

.IniciarSesion a:hover {
    background-color: rgb(41, 37, 36);
}

.navegador {
    background-color: #282828;
    color: white;
    z-index: 2;
}

.anchonavegador {
    margin: 0 auto;
    height: 50px;
    width: 100%;
}

.anchonavegador ul {
    position: relative;
    left: 50%;
    float: left;
}

.anchonavegador ul li {
    color: white;
    list-style: none;
    float: left;
    position: relative;
    right: 50%;
    margin: 10px;
    margin-top: 15px;
    text-transform: uppercase;
}

.anchonavegador ul li a {
    text-decoration: none;
    color: white;
}

.anchonavegador ul li a:hover {
    color: rgb(255, 255, 0);
    transition: .4s;
}

.imagen-slider {
    margin-top: 140px;
    width: 100%;
    height: 400px;
}

#banners {
    width: 100%;
    height: auto;
}

.botonesSigAnt {
    width: 100%;
}

.b-anterior {
    padding: 10px;
    border: none;
    background: rgba(51, 119, 255, 0.363);
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.b-siguiente {
    padding: 10px;
    border: none;
    background: rgba(51, 119, 255, 0.363);
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    cursor: pointer;
    margin-left: 97.2%;
}

.imagenes-banners {
    width: 100%;
    height: 400px;
}

.peliculas {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    gap: 20px;
    padding: 20px;
}

.peliculas h2 {
    padding: 30px 0;
    text-align: center;
}

.listapeliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pelicula-info {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: whitesmoke;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box; 
    margin: 0 10px; 
}

.fila-peliculas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.pelicula-info img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.pelicula-info p {
    padding: 5px 0;
}

.pelicula-info a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #ffed00;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #ffc800;
}

.agregar-pelicula {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.agregar-pelicula label,
.agregar-pelicula input {
    display: block;
    margin: 10px auto;
}

.agregar-pelicula button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #ffed00;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

.agregar-pelicula button:hover {
    background-color: #ffc800;
}

.pie {
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 0%;
}

.pie-padre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 175px;
    padding: 0 20px;
}

.pie-izquierda,
.pie-centro,
.pie-derecha {
    flex: 1;
}

.pie-izquierda h2 {
    margin-top: 25px;
    text-align: center;
}

.pie-izquierda p {
    margin: 30px;
}

.pie-derecha ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pie-derecha ul li {
    margin: 0 10px;
    display: inline;
}

.pie-derecha a {
    text-decoration: none;
    color: white;
}

.pie-derecha a:hover {
    color: purple;
}