* {
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cabecera {
    top: 0;
    width: 100%;
    height: 90px;
    background-color: #242323;
    position: fixed;
    z-index: 1;
}

.anchocabecera {
    width: 50%;
    height: 90px;
    margin: 0 auto;
    display: flex;
}

.imagen-principal {
    flex: 33%;
    height: 110px;
}
.logo {
    margin: 10px;
    height: 70px;
}

.buscador {
    flex: 49%;
    height: 90px;
    float: left;
}

.buscador select {
    margin-top: 30px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid gray;
    height: 30px;
    padding: 5px;
    cursor: pointer;
}

.buscador input {
    border-radius: 5px;
    background-color: #ffed00;
    line-height: 20px;
    padding: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

.buscador input:hover {
    background-color: rgb(239, 248, 188);
}

.IniciarSesion {
    margin-top: 29px;
    flex: 15%;
    height: 110px;
}

.IniciarSesion a {
    line-height: 10px;
    padding: 5px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 10px;
    background-color: whitesmoke;
}

.IniciarSesion a:hover {
    background-color: rgb(41, 37, 36);
}

.navegador {
    background-color: #282828;
    top: 0;
    width: 100%;
    height: auto;
    margin-top: 90px;
    position: fixed;
    z-index: 2;
}

.anchonavegador {
    margin: 0 auto;
    height: 50px;
    width: 75%;
}

.anchonavegador ul {
    position: relative;
    left: 50%;
    float: left;
}

.anchonavegador ul li {
    color: white;
    list-style: none;
    float: left;
    position: relative;
    right: 50%;
    margin: 10px;
    margin-top: 15px;
    text-transform: uppercase;
}

.anchonavegador ul li a {
    text-decoration: none;
    color: white;
}

.anchonavegador ul li a:hover {
    color: rgb(255, 255, 0);
    transition: .4s;
}

.imagen-slider {
    margin-top: 140px;
    width: 100%;
    height: 400px;
}

#banners {
    width: 100%;
    height: auto;
}

.botonesSigAnt {
    width: 100%;
}

.b-anterior {
    padding: 10px;
    border: none;
    background: rgba(51, 119, 255, 0.363);
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.b-siguiente {
    padding: 10px;
    border: none;
    background: rgba(51, 119, 255, 0.363);
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    cursor: pointer;
    margin-left: 97.2%;
}

.imagenes-banners {
    width: 100%;
    height: 400px;
}

.peliculas {
    width: 100%;
    height: 700px;
}

.peliculas h2 {
    padding: 30px;
}

.listapeliculas {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pelicula-info {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: whitesmoke;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
}

.pelicula-info img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.pelicula-info p {
    padding: 5px 0;
}

.pelicula-info a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #ffed00;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #ffc800;
}

.pie {
    width: 100%;
    height: 175px;
    background-color: #282828;
    ;
    color: white;
}

.pie-padre {
    margin: 0 auto;
    background-color: #282828;
    ;
    width: 70%;
    height: 175px;
    display: flex;
}

.pie-izquierda {
    flex: 33%;
}

.pie-izquierda h2 {
    margin-top: 25px;
    text-align: center;
}

.pie-izquierda p {
    margin: 30px;
}

.pie-centro {
    flex: 33%;
}

.pie-derecha {
    padding: 30px;
    flex: 33%;
    text-align: center;
}

.pie-derecha ul li {
    list-style: none;
    margin: 10px;
}

.pie-derecha a {
    margin: 15px;
    text-decoration: none;
    color: white;
}

.pie-derecha a:hover {
    color: purple;
}





